.register-page {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
width: 100%;
}
.register-header{
    margin-top: 22px;
    font-size: 30px;
    font-weight: bold;
    color: #f85f5f;
    font-family: "Bebas Neue", cursive;
}
.register-area{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.planet-select-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.planet-label{
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: "Bebas Neue", cursive;
}
.to-select{
    display: flex;
    margin: 5px 10px 10px 5px;
  width: 50%;
  height: 35px;
  font-family: "Bebas Neue", cursive;
  font-size: 15px;
}