@keyframes rocket-spin-mars {
  from {
    top: 350px;
    left: -650px;
  }

  to {
    top: 600px;
    left: 210px;
  }
}

@keyframes rocket-spin-moon {
  from {
    top: 350px;
    left: -650px;
  }

  to {
    top: -10px;
    left: -230px;
  }
}

@keyframes rocket-spin-jupiter {
  from {
    top: 350px;
    left: -650px;
  }

  to {
    top: 150px;
    left: 370px;
  }
}


.rocket {
  position: relative;
  left: -650px;
  top: 300px;
  z-index: 2;
  animation: rocket-spin-jupiter 6s infinite ;
}


.mainpage-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
}

.mainpage-area img {
  position: absolute;
  z-index: 1;
  top: 0px;
}

.wrapper {
  display: grid;
  position: absolute;
  top: 10px;
  grid-template-columns: repeat(6);
  gap: 250px;
}

.moon {
  grid-column: 2 / 3;
  grid-row: 1;
}

.mars {
  grid-column: 3 / 4;
  grid-row: 3;

}

.earth {
  grid-column: 1;
  grid-row: 2 / 5;

}

.jupiter {
  grid-column: 5 / 5;
  grid-row: 1;
}



.rocket-area {
  display: flex;
  align-items: center;
  justify-content: center;
}